
h1{
    margin-top: 0px;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem; /* 100% -> 16px  i want 90px -> 90*100/16 */
    /* 1 em = 16px = 100% , to have 90px * 1 / 16 */
    margin: 50px auto 0px auto;
    color:  #e7dfd5;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color:  #e7dfd5;
    font-weight: normal;

}
h3{
    font-family: 'Montserrat', sans-serif;
    color:  #11999E;
}
a{
   color: #11999E;
}
a:hover{
    color: #138185;
}
body{
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}
.profile{
    margin-bottom: 40px;
}

.profile-img{
    width: 100px;
    height: 100px;
    margin: auto;
}

.bottom-cloud{
    position: absolute;
    left: 400px;
    bottom: 300px;
}

.top-cloud{
   position: absolute;
   right: 400px;
   top: 50px;
}

.top-container{
    background-color: #84a9ac;
    position: relative;
    padding-top: 100px;
}
.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}
.edu-row{
    padding-left: 0px;
    width: 50%;
    margin: 50px auto;
    text-align: left;
    line-height: 2;
    position: relative;
}
.code{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.tech{
    width: 25%;
    float: right;
    margin-left: 30px;
}
.bottom-container{
    background-color: #3b6978;
    margin-bottom: 0px;
}
hr{
    border-style: dotted none none none;
    width: 1%;
    border-color: lightgrey;
    padding: 30px;
    border-width: 8px;
}
.bottom-left{
    position: absolute;
    left: 400px;
    bottom: 60px;
}
.bottom-right{
   position: absolute;
   right: 400px;
   top: 400px;
}
.middle-right{
    position: absolute;
    right: 260px;
    top: 220px;
}
.top{
    padding-bottom: 100px;
}
.btn {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px;
    background: #84a9ac;
    background-image: -webkit-linear-gradient(top, #84a9ac, #3b6978);
    background-image: -moz-linear-gradient(top, #84a9ac, #3b6978);
    background-image: -ms-linear-gradient(top, #84a9ac, #3b6978);
    background-image: -o-linear-gradient(top, #84a9ac, #3b6978);
    background-image: linear-gradient(to bottom, #204051, #3b6978);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 100;
    box-shadow: 1px 1px 20px 0px #000000;
    -webkit-box-shadow: 1px 1px 20px 0px #000000;
    -moz-box-shadow: 1px 1px 20px 0px #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #3b6978 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .btn:hover {
    border: solid #418094 1px;
    background: #3b6978;
    background-image: -webkit-linear-gradient(top, #3b6978, #418094);
    background-image: -moz-linear-gradient(top, #3b6978, #418094);
    background-image: -ms-linear-gradient(top, #3b6978, #418094);
    background-image: -o-linear-gradient(top, #3b6978, #418094);
    background-image: linear-gradient(to bottom, #3b6978, #418094);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }
 .bottom-container{
     padding: 25px;
     margin-top: 20px;
 }
 .spann{
    font-family: 'Montserrat', sans-serif;
    color: black;
    display: inline-block;
    font-size: 15px;
 }
 .date{
    padding-left: 4px;
    font-family: 'Montserrat', sans-serif;
    color: black;
    display: inline-block;
    font-size: 15px;
    position: absolute;
    right: 20px;
    top : 30px;
    
 }
 .inlinee{
     margin-top: 0px;
     display: inline-block;
     color: black;
     font-size: 15px;
     margin-right: 50%;
 }
 .inline-edu{
    margin-top: 0px;
    display: inline-block;
    color: black;
    font-size: 15px;
    margin-right: 435px;
 }
 .date-img{
    width: 18px;
    margin-right: 0px;
 }
 .location{
     width: 18px;
 }
 .major{
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
 }
 .gpa{
    font-family: 'Montserrat', sans-serif;
    margin-left: 250px;
    display: inline-block;
 }
.footer-link{
    margin: auto 15px auto 15px;
}
.mark{
    margin: 20px auto;
    color: white;
}
.job{
    margin-bottom: 10px;
}
.list{
    padding-left: 0px;
    font-family: 'Montserrat', sans-serif;
}
.language-list{
    display: inline-block;
    margin: 0px 25px 0px 25px;
    padding-left: 0px;
    padding: 0px;
    line-height: 1.4;
    font-family: 'Montserrat', sans-serif;
}